.card-header.btn-secondary {
  background-color: #6c757d;
}

.card-header.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}


.card-fixed-xs {
  width: 10rem;
}

.card-fixed-sm {
  width: 12rem;
}

.card-fixed {
  width: 14rem;
}

.card-fixed-lg {
  width: 16rem;
}

.card-fixed-xl {
  width: 18rem;
}

.item-selector {
  background-color: #fff; 
  opacity: 0.5;
}

.item-selector:hover {
  opacity: 0.95;
}