<div class="row">
  <!-- CORE -->
  <div class="col-xs-12 col-md-5 col-lg-3">

    <div class="row">
      <div class="col-sm-6 col-md-12">

        <div class="card">
          <h4 class="card-header">CORE</h4>
          <table class="table">
            <tr>
              <th>Level</th>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Pilot Level">
                  <button type="button" class="btn btn-secondary" [disabled]="level === 0 || level === getTotalCore()" [ngClass]="{'disabled': level === 0 || level === getTotalCore()}" (click)="removeLevel();">
                    <i class="fa fa-minus-circle"></i>
                  </button>
                  <button type="button" class="btn btn-secondary disabled" [disabled]="true">{{ level }}</button>
                  <button type="button" class="btn btn-secondary" [disabled]="level === 15" [ngClass]="{'disabled': level === 15}" (click)="addLevel();">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </td>
            </tr>
            <ng-template #hullTooltip>
              <div>{{ core.hull || 0 }} CORE</div>
              <div>{{ shell.hull || 0 }} SHELL</div>
            </ng-template>
            <tr>
              <th>HULL</th>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="CORE Hull">
                  <button type="button" class="btn btn-secondary" [disabled]="core.hull === 0" [ngClass]="{'disabled': core.hull === 0}" (click)="removeCore('hull');">
                    <i class="fa fa-minus-circle"></i>
                  </button>
                  <button type="button" class="btn btn-secondary" [ngClass]="{'disabled': core.hull === 0}" (click)="resetCore('hull')" container="body" placement="top" [ngbTooltip]="hullTooltip">{{ core.hull + (shell.hull || 0) }}</button>
                  <button type="button" class="btn btn-secondary" [disabled]="getTotalCore() === level || core.hull === 6" [ngClass]="{'disabled': getTotalCore() === level || core.hull === 6}" (click)="addCore('hull');">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th>AGI</th>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="CORE Agility">
                  <button type="button" class="btn btn-secondary" [ngClass]="{'disabled': core.agility === 0}" (click)="removeCore('agility');">
                    <i class="fa fa-minus-circle"></i>
                  </button>
                  <button type="button" class="btn btn-secondary disabled">{{ core.agility }}</button>
                  <button type="button" class="btn btn-secondary" [ngClass]="{'disabled': getTotalCore() === level || core.agility === 6}" (click)="addCore('agility');">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th>SYS</th>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="CORE Systems">
                  <button type="button" class="btn btn-secondary" [ngClass]="{'disabled': core.systems === 0}" (click)="removeCore('systems');">
                    <i class="fa fa-minus-circle"></i>
                  </button>
                  <button type="button" class="btn btn-secondary disabled">{{ core.systems }}</button>
                  <button type="button" class="btn btn-secondary" [ngClass]="{'disabled': this.getTotalCore() === level || core.systems === 6}" (click)="addCore('systems');">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th>ENG</th>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="CORE Systems">
                  <button type="button" class="btn btn-secondary" [ngClass]="{'disabled': core.engineering === 0}" (click)="removeCore('engineering');">
                    <i class="fa fa-minus-circle"></i>
                  </button>
                  <button type="button" class="btn btn-secondary disabled">{{ core.engineering }}</button>
                  <button type="button" class="btn btn-secondary" [ngClass]="{'disabled': this.getTotalCore() === level || core.engineering === 6}" (click)="addCore('engineering');">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th>Targeting</th>
              <td>{{ core.targeting || 0}}</td>
            </tr>
            <tr>
              <th>SP</th>
              <td>{{ core.sp || 0}}</td>
            </tr>
            <tr>
              <th>Mounts</th>
              <td><div *ngFor="let mount of core.mounts">{{ mount.type }}</div></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-sm-6 col-md-12">

        <div class="card">
          <h4 class="card-header">Derived Stats</h4>
          <table class="table">
            <tr>
              <th>HP</th>
              <td>{{ core.hp }}</td>
            </tr>
            <tr>
              <th>CRITICAL Gauge</th>
              <td>{{ 4 + core.hull }}</td>
            </tr>
            <tr>
              <th>Heat Capacity</th>
              <td>{{ 6 + core.engineering + (core.heatCap || 0) }}</td>
            </tr>
            <tr>
              <th>Speed</th>
              <td>{{ 5 + core.agility }}</td>
            </tr>
            <tr>
              <th>Evasion</th>
              <td>{{ 8 + core.agility }}</td>
            </tr>
            <tr>
              <th>E-Defense</th>
              <td>{{ 8 + core.systems }}</td>
            </tr>
            <tr>
              <th>Sensor Range</th>
              <td>{{ 8 + core.systems }}</td>
            </tr>
          </table>
        </div>

      </div>

      <div class="col-sm-12">

        <div class="card">
          <h4 class="card-header">CORE Bonuses</h4>
          <div class="card-body">
            Bonuses go here
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- CORE -->

  <!-- SHELL -->
  <div class="col-xs-12 col-md-7 col-lg-5 col-xl-5">

    <div class="card">
      <button class="btn btn-secondary btn-sm card-header d-flex justify-content-between" (click)="browseShells()"><h4 class="mb-0">SHELL</h4><h5 class="mb-0 align-self-center">{{ shell.name }}</h5></button>
      <table class="table">
        <tr>
          <th>Size</th>
          <td>{{ shell.size }}</td>
        </tr>
        <tr *ngIf="shell.armor">
          <th>Armor</th>
          <td>{{ shell.armor }}</td>
        </tr>
        <tr *ngIf="shell.hull">
          <th>Hull</th>
          <td>
            {{ shell.hull }}
          </td>
        </tr>
        <tr *ngIf="shell.hp">
          <th>HP</th>
          <td>{{ shell.hp }}</td>
        </tr>
        <tr *ngIf="shell.critical">
          <th>Critical Gauge</th>
          <td>{{ shell.critical }}</td>
        </tr>
        <tr *ngIf="shell.agility">
          <th>Agility</th>
          <td>
            {{ shell.agility }}
          </td>
        </tr>
        <tr *ngIf="shell.speed">
          <th>Speed</th>
          <td>
            {{ shell.speed }}
          </td>
        </tr>
        <tr *ngIf="shell.systems">
          <th>Systems</th>
          <td>
            {{ shell.systems }}
          </td>
        </tr>
        <tr *ngIf="shell.engineering">
          <th>Engineering</th>
          <td>{{ shell.engineering }}</td>
        </tr>
        <tr *ngIf="shell.heatCap">
          <th>Heat Capacity</th>
          <td>{{ shell.heatCap }}</td>
        </tr>
        <tr *ngIf="shell.targeting">
          <th>Targeting</th>
          <td>{{ shell.targeting }}</td>
        </tr>
        <tr>
          <th>SP</th>
          <td>{{ shell.sp }}</td>
        </tr>
        <tr>
          <th>Mounts</th>
          <td><div *ngFor="let mount of shell.mounts">{{ mount.type }}</div></td>
        </tr>
      </table>
    </div>

    <div class="card" *ngIf="shell.shellSystem">
      <h4 class="card-header">SHELL System</h4>
      <div class="card-body text-justify">
        <h5 class="card-title">{{ shell.shellSystem.name }}</h5>
        <h6 class="card-subtitle text-muted mb-2">Passive</h6>
        <p class="card-text">{{ shell.shellSystem.passive }}</p>
        <h5 class="card-title">{{ shell.shellSystem.active.name }}</h5>
        <h6 class="card-subtitle text-muted mb-2">Active</h6>
        <p class="card-text">{{ shell.shellSystem.active.description }}</p>
      </div>
    </div>
  </div>
  <!-- SHELL -->

  <!-- WEAPONS/SYSTEMS -->
  <div class="col-xs-12 col-lg-4 col-xl-4">

        <div class="card">
          <h4 class="card-header">WEAPONS</h4>
          <div class="card-body">
            <div *ngFor="let mount of shell.mounts; let i = index;">
              <div class="card mb-3">
                <div class="card-header d-flex justify-content-between p-0">
                  <button class="btn btn-secondary btn-sm" [ngClass]="{'col-12': mount.type === 'Main' || mount.type === 'Heavy', 'col-6': mount.type === 'Flex' || mount.type === 'Aux' || mount.type === 'Core'}" (click)="browseWeapons(mount, i)">
                    <h5 class="h5">{{ mount.type }}</h5>
                  </button>
                  <button class="btn btn-secondary btn-sm col-6" [disabled]="mount.weapon && mount.weapon.mount !== 'Aux'" [ngClass]="{'disabled': mount.weapon && mount.weapon.mount !== 'Aux'}" *ngIf="mount.type === 'Flex' || mount.type === 'Aux' || mount.type === 'Core'" (click)="browseWeapons(mount, i, true)">
                    <h5 class="h5">Aux</h5>
                  </button>
                </div>
                <div class="card-body" *ngIf="mount.weapon">
                  <div class="d-flex justify-content-between">
                    <h6 class="card-subtitle mb-2 text-muted">{{ mount.weapon.corp }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted" (click)="mountWeapon(null, { type: mount.type, index: i })"><i class="fa fa-times pointer"></i></h6>
                  </div>
                  <h5 class="card-title h5">{{ mount.weapon.name }}</h5>
                </div>
                <table class="table" *ngIf="mount.weapon">
                  <tr>
                    <th>Type</th>
                    <td>{{ mount.weapon.mount }} {{ mount.weapon.type }}</td>
                  </tr>
                  <tr *ngIf="mount.weapon.tags">
                    <th>Tags</th>
                    <td><div *ngFor="let tag of mount.weapon.tags">{{ tag }}</div></td>
                  </tr>
                  <tr>
                    <th>Range</th>
                    <td>{{ mount.weapon.range }}</td>
                  </tr>
                  <tr>
                    <th>Damage</th>
                    <td>{{ mount.weapon.damage }}</td>
                  </tr>
                </table>
                <div class="card-body" *ngIf="mount.auxWeapon">
                  <div class="d-flex justify-content-between">
                    <h6 class="card-subtitle mb-2 text-muted">{{ mount.auxWeapon.corp }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">ALT <span (click)="mountWeapon(null, { type: 'Aux', index: i, aux: true })"><i class="fa fa-times pointer"></i></span></h6>
                  </div>
                  <h5 class="card-title h5">{{ mount.auxWeapon.name }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header d-flex justify-content-between"><h4>SYSTEMS</h4><h5 class="text-muted">{{ shell.sp + core.sp }} SP</h5></div>
          <div class="card-body">
            <button class="btn btn-secondary btn-lg">New System</button>
          </div>
        </div>

  </div>
  <!-- WEAPONS/SYSTEMS -->
</div>

<div class="fixed-bottom border-top p-3 item-selector">
  <div class="mb-5" *ngIf="showShells" style="width: 33rem;">
    <button class="btn btn-secondary mr-2 mb-2" *ngFor="let shell of availableShells" (click)="setShell(shell);">
      {{ shell.corp }} {{ shell.name }}
    </button>
  </div>

  <div class="mb-5" *ngIf="showWeapons" style="width: 33rem;">
    <button class="btn btn-secondary mr-2 mb-2" (click)="mountWeapon(null, activeMount);">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-secondary mr-2 mb-2" *ngFor="let weapon of availableWeapons" [ngClass]="{'disabled': !canMount(weapon, activeMount)}" (click)="mountWeapon(weapon, activeMount);">
      {{ weapon.corp }} {{ weapon.name }} 
    </button>
  </div>
</div>